.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(1fr, 213px));
    gap: 16px;
    height: auto;
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 48px 0;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, minmax(1fr, 225px));
        gap: 14px; 
        max-width: 928px;       
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, minmax(1fr, 264px));
        gap: 16px;
        padding: 88px 24px 0;
        max-width: 720px;        
    }
}
@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, minmax(1fr, 295px));
        gap: 12px;
        padding: 64px 16px 0;
        max-width: 425px;
    }
}
@media screen and (max-width: 424px) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        max-width: 288px;
    }
}