.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    max-width: 1184px;
    height: auto;
    margin: 0 auto;
    padding: 92px 48px 0;
}
@media screen and (max-width: 1280px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
        padding: 92px 48px 0;
    }
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
        padding: 88px 24px 0;
        width: 720px;        
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(1, 393px);
        grid-template-rows: repeat(12, 295px);
        gap: 12px;
        padding: 64px 16px 0;
        width: 393px;
    }
}
@media screen and (max-width: 425px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(1, 288px);
        grid-template-rows: repeat(12, 216px);
        padding: 64px 16px 0;
        width: 288px;
    }
}
