.cover__subtitle {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 360px;
    margin: 0 auto;
    padding: 32px 0 245px;
    z-index: 1;
}

@media screen and (max-width: 1280px) {
    .cover__subtitle {
        padding: 32px 0 195px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding: 32px 0 115px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        padding: 32px 0 66px;
        width: 288px;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        padding: 16px 0 33px;
    }
}

