.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 18px;
    text-decoration: none;
}

.footer__copyright:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        padding: 16px 0 24px;
    }
}