.intro__title {
    position: relative;
    text-align: left;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0;
    left: 0;
}



@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 393px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 424px) {
    .intro__title {
        max-width: 288px;
    }
}


